
.tb_height{
    font-size: 80%;
	vertical-align: middle;
	max-height: 24px ;
}

.tb_color{
  background-color:   #7D3C98;
}

.tb1_color{
    background-color:   #6C3483;
  }

.letter-spacing{

    letter-spacing: -1px;
  }

.ta_center{
    text-align: center;
}

.pad_img{
  padding:10px;
}

ion-searchbar{
  font-size: large;
  --placeholder-opacity:30%;
  --background:white;
}

img { 
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
  
}

